.licht-settings {
    margin-top: 30px;
    display: none;
}

.clients~licht-settings .licht-settings {
    display: block;
}

/* fix display of AutoMail */
.apps~#hohSettings {
    display: inline;
}
