.anisongs {
    display: grid;
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
}

.theme {
    background: rgb(var(--color-foreground));
    border-radius: 3px;
    padding: 8px 10px;
    font-size: 1.3rem;
    margin-bottom: 10px;
}

.theme .heading {
    font-size: 1.8rem;
    margin: 10px 0;
}

.theme .heading .slug {
    border-radius: 3px;
    padding: 3px 5px;
    background-color: rgb(var(--color-blue));
    color: rgb(var(--color-white));
    font-weight: 500;
    margin-right: 10px;
}

.themeEntry {
    border-radius: 3px;
    padding: 3px 5px;
    background-color: rgb(var(--color-background));
    margin: 10px 0;
}

.theme video {
    cursor: auto;
    margin-top: 10px;
    width: 100%;
}

.theme .tag {
    background-color: rgb(var(--color-foreground));
    color: rgb(var(--color-text));
    border-radius: 3px;
    display: inline-block;
    font-size: 1.3rem;
    margin: 5px;
    padding: 8px 10px;
}

.theme .button {
    background-color: rgb(var(--color-blue));
    border-radius: 3px;
    color: rgb(var(--color-white));
    display: inline-block;
    font-size: 1.3rem;
    font-weight: 500;
    margin: 5px;
    padding: 7px;
    text-align: center;
}

.theme .button:hover {
    cursor: pointer;
}

.theme .button.active {
    background-color: rgb(var(--color-red));
}