.external-link, .external-link:visited, .external-link:hover, .external-link:visited:hover {
    border-radius: 3px;
    color: rgb(var(--color-white));
    display: block;
    font-size: 1.3rem;
    font-weight: 500;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 7px;
    text-align: center;
}

.external-link.mangadex {
    background: rgb(var(--color-orange));
}