.data-set {
    padding-bottom: 14px;
}

.data-set > .type {
    font-size: 1.3rem;
    font-weight: 500;
    padding-bottom: 5px;
}

.data-set > .value {
    line-height: 1.4;
    color: rgb(var(--color-text-lighter));
    font-size: 1.2rem;
}
